snippet border
	<Border Background="LightBlue" 
	        BorderBrush="Black" 
	        BorderThickness="2" 
	        CornerRadius="45" 
	        Padding="25">
snippet button
	<Button Name="btn3" Click="OnClick3">Reset</Button>
